@font-face {
  font-family: 'Geraldton';
  src: url('Geraldton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eldwin';
  src: url('eldwinscriptregular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
